Импортируем все что может понадобится

In [1]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, precision_score, recall_score, roc_curve, RocCurveDisplay, auc, confusion_matrix, top_k_accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV, TimeSeriesSplit, cross_validate
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
import numpy as np
import warnings
import datetime
import random
from sklearn.compose import ColumnTransformer
from category_encoders import TargetEncoder
from category_encoders.one_hot import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, GradientBoostingClassifier

# Начинаем загрузку данных и добавляем некоторые новые признаки

Загружаем таблицу с данными пользователей

In [2]:
warnings.filterwarnings('ignore')
users=pd.read_sql("SELECT * FROM user_data", con="postgresql://1234:5678@postgres.lab.karpov.courses:6432/startml")
users

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

Загружаем таблицу с данными постов, добавляем признак size text - количество символов в тексте

In [4]:
post=pd.read_sql("SELECT * FROM post_text_df", con="postgresql://1234:5678@postgres.lab.karpov.courses:6432/startml")
post['size text']=0
for x in range(len(post)):
    post.loc[x, 'size text']=len(post.loc[x, 'text'])
post

,post_id,text,topic,size text
0,1,UK economy facing major risks\n\nThe UK manufa...,business,1967
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,2701
2,3,Asian quake hits European shares\n\nShares in ...,business,3408
3,4,India power shares jump on debut\n\nShares in ...,business,1026
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,889
...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,803
7019,7316,I give this movie 2 stars purely because of it...,movie,800
7020,7317,I cant believe this film was allowed to be mad...,movie,636
7021,7318,The version I saw of this film was the Blockbu...,movie,728
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,790

Загружаем таблицу с данными действий пользователей, при просмотре постов

In [8]:
feed=pd.read_sql("SELECT * FROM feed_data LIMIT 5000000", con="postgresql://1234:5678@postgres.lab.karpov.courses:6432/startml")
feed=feed.sort_values(by=["timestamp"])
# post["likes"]=0
# for x in post["post_id"]:
#     luk=feed.loc[feed["post_id"]==x, "target"].sum()
#     post.loc[x, "likes"]=luk
# feed=feed.sort_values("timestamp")
feed

                  timestamp  user_id  post_id action  target
364882  2021-10-01 06:01:40     1859     1498   view       1
3899110 2021-10-01 06:01:40   129394     1126   view       1
3982164 2021-10-01 06:01:40   122594     4554   view       1
4345793 2021-10-01 06:01:52    65382     2989   view       0
1837710 2021-10-01 06:01:52    14244     1411   view       0
...                     ...      ...      ...    ...     ...
2274628 2021-12-29 23:43:15   108659     3529   view       0
2605095 2021-12-29 23:43:15     8328     1418   view       0
843924  2021-12-29 23:43:15   122259     2059   view       0
650855  2021-12-29 23:43:15   129059     4526   view       0
4606737 2021-12-29 23:43:15    35557     1307   view       0

[5000000 rows x 5 columns]

# Обработка признаков

Соединяем три таблицы в одну, добавляем признак User_interests, который показывает тему постов, в которой пользователь больше всего лайкает

In [9]:
merge_fp=feed.merge(post, how="inner", left_on="post_id", right_on="post_id")
merge=merge_fp.merge(users, how="inner", left_on="user_id", right_on="user_id")
merge["User_interests"]=0
active_users=merge.loc[merge["target"]==1, "user_id"].unique().tolist()
for y in active_users:
    temp_1=merge[merge["user_id"]==y]
    temp_2=temp_1[temp_1["target"]==1]
    z=temp_2["topic"].mode()[0]
    merge.loc[merge["user_id"]==y, "User_interests"]=z
merge=merge.sort_values("timestamp")
merge=merge[merge["action"]=="view"]
merge=merge.drop(["user_id", "post_id", "text", "timestamp", "action"], axis=1)
merge

,target,topic,size text,likes,gender,age,country,city,exp_group,os,source,User_interests
0,1,sport,3671.0,189.0,0,19,Ukraine,Kyiv,3,Android,ads,movie
717950,1,politics,2138.0,195.0,1,21,Russia,Yekaterinburg,1,iOS,organic,movie
1179865,1,movie,186.0,198.0,0,33,Russia,Dalnegorsk,1,Android,organic,movie
1810956,0,sport,928.0,34.0,0,18,Russia,Saratov,2,Android,ads,movie
914976,0,covid,140.0,71.0,1,20,Russia,Tuymazy,3,Android,ads,movie
...,...,...,...,...,...,...,...,...,...,...,...,...
3190507,0,movie,2652.0,45.0,1,14,Russia,Novoaltaysk,1,iOS,organic,movie
2759168,0,business,1451.0,83.0,1,16,Russia,Vorkuta,3,iOS,organic,covid
2282429,0,movie,5740.0,39.0,0,20,Russia,Nizhniy Novgorod,4,Android,organic,movie
3483440,0,business,1223.0,0.0,0,22,Russia,Saint Petersburg,2,iOS,ads,movie
1810706,0,covid,139.0,37.0,1,29,Russia,Lobnya,3,iOS,organic,covid

Делим таблицу на признаки и таргеты

In [10]:
X=merge.drop(['target'], axis=1)
Y=merge['target']

Кодируем признаки

In [11]:
categorical=X.loc[:, X.dtypes==np.object].columns.tolist()
numeric=["age", "size text", "likes"]
categorical.append("exp_group")
cols_mte_idx=[list(X.columns).index(col) for col in categorical]
cols_num_idx=[list(X.columns).index(col) for col in numeric]
t=[('MTE', TargetEncoder(), cols_mte_idx),
   ('SS', StandardScaler(), cols_num_idx)]

Делим выборку на тест и трейн

In [12]:
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.2)

# Самая важная часть

Проверяем какое качество получается при текущих параметрах

In [13]:
pipe=Pipeline([("trans", ColumnTransformer(transformers=t)), ("boosting", DecisionTreeClassifier(random_state=3))])
pipe.fit(X_train, Y_train)
tn, fp, fn, tp=confusion_matrix(Y_test, pipe.predict(X_test)).ravel()
alll=tn+fp+fn+tp
print(F'Параметр max_depth установлен - {y}, параметр n_estimators - {x}')
print(F'Правильно определены - true negative {tn} - {tn/alll*100}%.')
print(F'Правильно определены - true positive {tp} - {tp/alll*100}%.')
print(F'Неправильно определены - false positive {fp} - {fp/alll*100}%.')
print(F'Неправильно определены - false negative {fn} - {fn/alll*100}%.')
print(F'Общая метрика составляет {(tn+tp)/alll*100}%')
print(F'Отношение tp к fp - {tp/fp}, общее число рекомендаций - {tp+fp}')

Параметр max_depth установлен - 116242, параметр n_estimators - nan
Правильно определены - true negative 691084 - 77.38659930035789%.
Правильно определены - true positive 17372 - 1.945291748970917%.
Неправильно определены - false positive 95613 - 10.706607183649338%.
Неправильно определены - false negative 88959 - 9.961501767021863%.
Общая метрика составляет 79.33189104932879%
Отношение tp к fp - 0.18169077426709757, общее число рекомендаций - 112985

Проверял сколько времени занимает предсказание на 900000 записей

In [14]:
%%time
pipe.predict(X_test)

CPU times: total: 1.84 s
Wall time: 1.88 s

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

Установил библиотеку

In [15]:
!pip install pickle

Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [16]:
import pickle
filename = 'sklearn_model.pkl'
pickle.dump(pipe, open(filename, 'wb'))

loaded_model = pickle.load(open(filename, 'rb'))

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)